<!-- <h1>WEBSITE BÁN ĐIỆN THOẠI</h1>

<app-menu></app-menu>

<div class="row">

    <div class="col-sm-3">
    
    <app-manufacturer></app-manufacturer>
    
    </div>
    
    <div class="col-sm-9">
    
    <app-product></app-product>
    
    </div>
    
</div> -->


<!-- bài tl1 -->

<!-- <app-menu></app-menu>

<div class="container">
    <div class="row">
        <app-main></app-main>
    </div>
    
</div>
<app-footer></app-footer> -->


<!-- bài tl2 -->
<app-header></app-header>
<app-main2></app-main2>
<app-footer2></app-footer2>

